:root {
	--menu-header-menu-height: 64px;
	--menu-left-menu-width: 256px;
}

a:hover {
	color: var(--color-golden-purple);
	text-decoration: underline;
}

/* ========================================================================== */
/* MENU */
/* ========================================================================== */
.ant-menu-item:active {
	background: var(--color-light-purple) !important;
}

.ant-menu-item:active,
.ant-menu-item a:hover,
.ant-menu-item a:active,
.ant-menu-item-active,
.ant-menu-submenu-selected,
.ant-menu-light .ant-menu-submenu-title:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open {
	color: var(--color-golden-purple) !important;
}

.ant-menu-item-selected,
.ant-menu-light .ant-menu-item:hover {
	color: var(--color-golden-purple) !important;
	background-color: var(--color-light-purple) !important;
}

.ant-menu-item-selected:after {
	border-right: 3px solid var(--color-golden-purple) !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after {
	border-bottom: 2px solid var(--color-golden-purple) !important;
}

/* ========================================================================== */
/* BUTTON */
/* ========================================================================== */
.ant-btn-primary {
	background: var(--color-golden-purple);
	border-color: var(--color-golden-purple);
	font-size: 14px;
	line-height: 22px;
}

.ant-btn-primary:hover {
	background: var(--color-golden-purple-hover);
	border-color: var(--color-golden-purple-hover);
}

.ant-btn-default {
	background: var(--color-white);
	border: 1px solid var(--color-neutral);
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
	border-radius: 2px;
}

.ant-btn-default:hover {
	background: var(--color-white);
	border: 1px solid var(--color-golden-purple);
	color: var(--color-golden-purple-hover);
}

/* ========================================================================== */
/* SEARCH BAR */
/* ========================================================================== */
.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
	border-color: var(--color-golden-purple-hover);
}

/* ========================================================================== */
/* FORMS */
/* ========================================================================== */
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:hover {
	border-color: var(--color-golden-purple) !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
	border-color: var(--color-golden-purple);
}

.ant-checkbox-checked .ant-checkbox-inner {
	background-color: var(--color-golden-purple);
	border-color: var(--color-golden-purple);
}

/* ========================================================================== */
/* Tabs */
/* ========================================================================== */
.ant-tabs-tab:hover {
	color: var(--color-golden-purple) !important;
	border-bottom: 2px solid var(--color-golden-purple) !important;
	z-index: 2;
}
.ant-tabs-tab.ant-tabs-tab-active {
	border-bottom: 2px solid var(--color-golden-purple) !important;
	z-index: 2;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
	color: var(--color-golden-purple) !important;
}

.ant-tabs-ink-bar {
	background: var(--color-golden-purple) !important;
}
