.header {
	background-color: var(--color-white);
	padding: 0;
	position: relative;
	line-height: 0;
	display: flex;
	justify-content: space-between;
}

.headerLogo {
	padding: 19.5px 40px;
}

.headerMenu {
	margin: auto 40px;
	display: flex;
	align-items: center;
	min-width: 126px;
}

.headerSubMenu > div {
	margin: auto;
	display: inline-flex;
	align-items: center;
	height: var(--menu-header-menu-height);
}

.headerSubMenu span {
	margin-left: 10px;
}

.sideMenu {
	height: calc(100vh - var(--menu-header-menu-height));
	background-color: var(--color-white);
}
