.tableHeader {
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.tableHeader:first-child {
	font-size: 16px;
	font-weight: 500;
}

a.actionButton {
	color: var(--color-golden-purple);
}

a.actionButton:hover {
	color: var(--color-golden-purple-hover);
}
