.rowItem {
	background-color: var(--color-background);
}

.subtitle {
	text-align: center;
	font-size: small;
	color: #666;
}

.loginContainer {
	margin: 200px auto;
	padding: 60px 40px;
	background-color: white;
}

.loginFormForgot {
	float: right;
	color: var(--color-golden-purple);
}

.loginFormButton {
	width: 100%;
}

.inputFieldIcons {
	color: var(--color-golden-purple);
}

.quickSignInButton {
	color: rgba(0, 0, 0, 0.45);
	border: transparent;
}

.quickSignInButton:hover {
	color: var(--color-golden-purple);
}

.signInRow {
	align-items: center;
}
